header{
    display: flex;
    justify-content: center;
}

.title {
    font-size: 8vw; /* 3rem = Aproximadamente 50px */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 5px 25px black;
    border-bottom: 2px solid #000000;
}

@media (min-width: 768px) {
    .title {
        font-size: 4vw; /* Ajusta para telas maiores */
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 3rem; /* Tamanho fixo para telas maiores */
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.container img{
    width: 35vw;
} 

.tech{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 50px;
}